/node_modules
.env
# Ignore everything inside Public/uploads
Public/uploads/**
serviceAccountKey.json
# Allow folder structure and .gitkeep files
!Public/uploads/
!Public/uploads/**/
!Public/uploads/**/*.gitkeep
